
.Default_Middle {
    text-align: left !important;
}

#story {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 30px;
        border: 2px solid #555;
    box-shadow: 0 0 5px #000;
}

#story p {
    color: #fff;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    padding: 5px;
    margin: 0 20px;
    text-indent: 2em;
}

#story p img {
    max-width: 80%;
    margin: 20px 0;
    max-width: 100%;
    margin-left: -2em;
}

.p_pic {
    text-align: center;
}

@media screen and (max-width: 736px) {
    #story {
        width: 100%;
        border: 0;
    }
}