
/***<jscompress sourcefile="style.css" />*/
@import url("css/css-family.css")/*tpa=https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700*/;
@import url("css/opensanshebrewcondensed.css")/*tpa=http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css*/;

@font-face {
	font-family: 'Carmela';
	src: url("css/fonts/carmela.eot")/*tpa=http://www.xiaohengshuijiao/css/fonts/carmela.eot*/;
	src: url("css/fonts/carmela.eot-#iefix")/*tpa=http://www.xiaohengshuijiao/css/fonts/carmela.eot?#iefix*/ format('embedded-opentype'),
	url("css/fonts/carmela.woff")/*tpa=http://www.xiaohengshuijiao/css/fonts/carmela.woff*/ format('woff'),
	url("css/fonts/carmela.ttf")/*tpa=http://www.xiaohengshuijiao/css/fonts/carmela.ttf*/ format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection {
	color: #fffaab;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	opacity:0;
	filter:alpha(opacity=0);
	}

::selection {
	color: #fffaab;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	opacity:0;
	filter:alpha(opacity=0);
	}
::-moz-selection {
	color: #fffaab;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	opacity:0;
	filter:alpha(opacity=0);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body { 
	height: 100%;
	font-family: 'PT Sans Narrow' , Carmela;
	font-size:17px;
	line-height:18px;
	font-weight:normal;
	color: white;
	background-color: #101010;

}
h2{
	font-family: 'Open Sans Hebrew Condensed';
	text-shadow: 2px 2px 0px rgba(122, 100, 61, 1);
	font-size: 22px;
	font-weight: 100;
}
i {font-weight: normal;}
.eng { 
	font-family:'PT Sans Narrow'; 
	font-size: 31px;
}

.p33 {
	width: 33%;
	height: 100%;
	min-height: 640px;
	float: left;
	display: block;
}
.p50 {
	width: 50%;
	float: left;
}
.p100{
	width: 100%;
	height: 95%;
	min-height: 640px;
	text-align: center;
	vertical-align: middle;
}
.clear{
	clear: both;
	margin-bottom: 5px; 
}
.menu {
	position: absolute;
	width: 755px;
	bottom: 0;
	left: 50%;
	margin-left: -341px;
	margin-bottom: 30px;
	text-shadow: 2px 2px 0px rgba(177, 144, 87, 0.7);
}
.menu li{ 
	margin: 0 27px;
	text-align: center;
	float: right;
}
.icon-facebook {
	font-size: 21px;
}
.net{
	width: 100%;
	height: 100%;
	background: url("assets/net.png") repeat; 
}
.fix {
	background-position: 0 0;
	/*padding: 0.1px 0;*/
}
.home {
	background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zoljpuowg20qo0hs4qq.gif") no-repeat center top fixed;
	background-size: cover;
	position: relative;
}


.home .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -208px;
	margin-top: -255px;
}
.home .lang{
	background: url("assets/lang_bar.PNG")/*tpa=http://assets/lang_bar.PNG*/ no-repeat center center; 
	width: 74px;
	height: 44px;
	position: absolute;
	top: 0px;
	right: 30px;
	font-size: 15px;
	padding-top: 10px;
	text-align: center;
	color: white;
}
.home .lang:hover {
	cursor: pointer;
	color: #b19057;
}
.about { min-height: 830px; }

.about .img1 {
	/*background: url(http://assets/img1.jpg) no-repeat center bottom ;*/
	background: url("assets/img1.jpg")/*tpa=http://assets/img1.jpg*/ no-repeat left bottom fixed ;
	background-size: contain;
	position: relative;
}
.about .img2 {
	background: url("assets/img2.jpg")/*tpa=http://assets/img2.jpg*/ no-repeat right bottom fixed;
	background-size: contain;
	position: relative;
}
.about .info {
	background: url("assets/net_black.png")/*tpa=http://assets/net_black.png*/ repeat; 
	width: 34%;
}
.paragraph {
	margin: auto;
	text-align: right;
	width: 225px;
	direction: rtl;
	
}
.title {
	padding: 30px 0;
	padding-top: 70px;
}
.subtext {
	font-family:'Open Sans Hebrew Condensed';
	font-size: 35px;
	letter-spacing: 1px;

	text-shadow: 1px 2px 0px rgba(177, 144, 87, 1);
	line-height: 40px;
	padding-top: 30px;
	border-top: 1px solid #606060;
}
.about .subtext span {
	border-bottom: 1px solid #888;
}
.txt {
	padding: 30px 0;
	line-height: 27px;
}

.about .paragraph{width: 180px;}
.about .subtext{border-bottom: 1px solid #606060; padding: 30px 0;}

.events {
	margin-bottom: 50px;
	overflow: hidden;

	background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif")/*tpa=httphttp://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif*/ no-repeat center top fixed;
	background-size: cover;
	position: relative;
}


.events .p33 {
	float: right;
}
.event-mask { overflow: hidden; }
.event-holder { 
	width: 300%; 
	margin-left: -200.5%; 
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.eventim {
	width: 31%;
	margin-right: 1%;
	float: right;
}
.eventim li{
	float: right;
	width: 29.3333333%;
	overflow: hidden;

	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;

	position: relative;
	background-position: center top;
	
	
}

.eventim img{
	margin-bottom: -5px;
	width: 100%;
}
.event-name {
	display: none;

	font-weight: 700;
	font-size: 13px;
	bottom: 2px;
	z-index: 100;
	position: absolute;
	padding-top: 10px;
	padding-right: 10px;

	text-shadow: 1px 2px 0px rgba(177, 144, 87, 1);

	height: 80px;
	width: 88%;
	text-align: right;
	background: url("assets/net.png")/*tpa=http://assets/net.png*/ repeat; 

	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

}
.event-name img{
	width: 94%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.event-name span {
	font-size: 19px;
}
.eventim li:hover  {
	cursor: pointer;
}

.eventim li { 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.eventim li:hover {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
} 
.eventim .subtext{
	position: absolute;
	top: 50%;
	left: 50%;
	border-top: 0px; 
	margin-top: -45px;
	margin-left: -80px;
}
.eventim .btn {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%); 

    -webkit-transition: all 0s ease-out;
	transition: all 0s ease-out;

}
.eventim .btn:hover {
	color: #fffaab;
}

.team {
	margin-bottom: 60px;
	margin-top: 60px;
	background: url("http://ww4.sinaimg.cn/large/3eeb6705jw1f8zo9v4so7g20qo0hsb2a.gif")/*tpa=httphttp://ww4.sinaimg.cn/large/3eeb6705jw1f8zo9v4so7g20qo0hsb2a.gif*/ no-repeat center top fixed;
	background-size: cover;
	position: relative;
}
.gil {
	padding-top: 6%;

	min-height: 530px;
	margin: 0 4%;
	position: relative;

	background: url("assets/people/team_gil.jpg")/*tpa=http://assets/people/team_gil.jpg*/ no-repeat center center;
	background-size: cover;
	position: relative;

}
.gil img { width: 100%; }
.gil-info b { font-size: 18px; }

.gil-info{
	width: 38%;
	direction: rtl;
	margin-left: 9%;
	line-height: 22px;
}
.gil .blck1{
	position: absolute;
	top: 0px;
}
.gil .blck2{
	position: absolute;
	bottom: 0px;
}

.people {
	width: 95%;
	margin-left: 2.5%;
}
.people li{
	float: right;
	width: 29.3333333%;
	overflow: hidden;

	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	position: relative;

	background-position: center top;
	background-size: 100% auto !important;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}

.people img{
	margin-bottom: -5px;
	width: 100%;
}

.people li:hover {
	cursor: pointer;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
} 

.people .person_name{
	opacity:0;
	filter:alpha(opacity=0);

	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;

	position: absolute;
	top: 0;
	padding-right: 30px;
	padding-top: 15px;
}
.people .person_name span{
	position: absolute;
	text-align: center;
	right: 0;
	top: 35%;
	width: 100%;
	margin-right: 30px;
}
.people .person_name .subtext {
	border-top: 0px;
	font-size: 30px;
	margin-top: 150px;
}
.people .person_name:hover{
	cursor: pointer;
	opacity:1;
	filter:alpha(opacity=1);
}
.chef {
	margin-top: 60px;
	min-height: 720px;
/*	background: url("assets/gifs/GIF24s.gif") no-repeat center top fixed;*/
    /*tpa=http://assets/gifs/GIF24s.gif*/ 
	background-size: cover;
	position: relative;
}
.chef .info {
	float: none;
}

.chefim{
	overflow: hidden;
	height: 640px;
}
.chef-holder{
	width: 168%;
	margin-left: -34%;

	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.chef-info1 span, .chef-info2 span {
	text-align: center;
	margin-top: 30px;
	display: block;
	width: 100%;
	border-top: 1px #606060 solid;
	border-bottom: 1px #606060 solid;
	padding: 10px;
}
.chef-info1 span i, .chef-info2 span i{
	color: #fff;
}
.chef1 {
	background: url("assets/chef2.jpg")/*tpa=http://assets/chef2.jpg*/ no-repeat center center;
}
.chef2 {
	background: url("assets/chef1.jpg")/*tpa=http://www.xiaohengshuijiao./index/assets/chef1.jpg*/ no-repeat center center;
}
.chef1 , .chef2 {
	width: 32.5%;
	position: relative;
	height: 640px;
	background-size: cover;

	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.chef1:hover , .chef2:hover {
	cursor: pointer;
	height: 670px;
}
.chef1:hover.chef1 .name , .chef2:hover.chef2 .name {
	bottom: 45px !important;
}
.name {
	position: absolute;
	bottom: 0;

	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.chef1 .name{
	right: 0;
}
.blankblack {
	height: 100%;
	width: 10px;
	float: right;
	display: block;
	background-color: #101010;
}
.chef2 .blankblack {
	float: left;
}

.chef-info1 , .chef-info2 {
	padding: 2% 1%;
	line-height: 29px;
	direction: rtl;

	height: 640px;
	width: 17%;
	overflow: hidden;
	background: url("assets/net_black.png")/*tpa=http://assets/net_black.png*/ repeat;

	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
.chef-info1 , .chef-info2 .chef1 .chef2 {
	float: left;
}

.chef-active {
	width: 42.5% !important;
}
.close-chef{
	opacity:0;
	filter:alpha(opacity=0);

	text-align: center;
	padding-top: 13px;
	font-size: 40px;
	color: #2d2d2d;
	background-color: white;
	height: 67px;
	width: 67px;
	float: right;
	margin-right: 20px;

	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.close-chef:hover{
	cursor: pointer;
	padding-top: 23px;
	height: 77px;

}
.chef2 .close-chef{
	float: left;
	margin-left: 20px;
}
.contact {
	background: url("http://ww3.sinaimg.cn/large/3eeb6705jw1f8zo9u0q09g20qo0hsnph.gif")/*tpa=httphttp://ww3.sinaimg.cn/large/3eeb6705jw1f8zo9u0q09g20qo0hsnph.gif*/ no-repeat center top fixed;
	background-size: cover;
	position: relative;
}

.contact .info {
	float: none;
}
.contact .info {
	text-align: center;
}
.contact .txt {
	text-align: center;
	border-top: 1px solid #606060;
}
.contact .txt h2 { font-size: 28px;}
.contact .info i{
	font-size: 25px;
	float: right;
}
.paragraph .subtext a {
    color: #fff;
    text-decoration: none;
}

.paragraph .subtext a:link {
    color: #fff;
}

.paragraph .subtext a:visited {
    color: #fff;
}

.paragraph .subtext a:hover {
    color: #fff;
}

.paragraph .subtext a:active {
    color: #fff;
}


.contact .eng { font-size: 27px;}

.contact .subtext{ line-height: 50px; font-size: 37px; }

.footer {
	width: 100%;
	height: 370px;
	background: url("assets/footer.jpg")/*tpa=http://assets/footer.jpg*/ no-repeat center center;
	background-size: cover;
	position: relative;

}

.footer li{
	text-align: right;
	width: 22%;
	display: block;
	float: right;

	margin-top: 82px;
	margin-right: 2%;
}
.footer li img {
	margin-top: 6px;
}

.footer a {
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.footer a, .eng a {
	color: #fff;
	text-decoration: none;
}
.footer .footer-contact .eng{ font-size: 18px !important; }
.footer .footer-contact i{ float: right; }
.footer .footer-contact span { line-height: 30px; }
.whiteline {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: black;
	top: 0;
	margin-top: 110px;
}
.usandthem {
	/*margin-right: 10px !important; 
	width: 20% !important;
	margin-top: 130px !important;*/
}
.usandthem .others {
	font-size: 15px;
	color: #bbb;
}
.usandthem img { margin-bottom: -7px; }

.footer ul .sofo {
	line-height: 35px;
    font-size: 22px;
    margin-top: 60px;
}
.footer ul .sofo i { color: white; }
.footer ul .sofo h2 { display: inline-table; margin-bottom: 10px;}
.footer ul .sofo .eng {font-size: 19px; }
.footer ul .sofo img {margin-bottom: -7px; margin-right: 10px; }



*,
*:after,
*::before {
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 10px 9px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px 0px rgba(122, 100, 61, 1);
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 18: cross */
.cl-effect-18 {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 90px;
	z-index: 1;
}

.cl-effect-18 a {
	padding: 0 5px;
	font-size: 20px;
	padding: 20px 10px;
	/*color: #b4770d;
	font-weight: 700;*/
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18 a::before,
.cl-effect-18 a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 1px;
	margin-top: -1px;
	background: #fff;
	
	opacity:0.6;
	filter:alpha(opacity=0.6);

	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	pointer-events: none;
}

.cl-effect-18 a::before {
	-webkit-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
}

.cl-effect-18 a::after {
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cl-effect-18 a:hover,
.cl-effect-18 a:focus {
	color: #fff;
	cursor: pointer;
}

.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after {
	/*opacity: 0.5;*/

}

.cl-effect-18 a.active::before,
.cl-effect-18 a:hover::before,
.cl-effect-18 a:focus::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cl-effect-18 a.active::after,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.mob_menu {
	display: none;
	position: fixed;
	z-index: 666;
	text-align: center;
	bottom: -295px;
	width: 100%;
}

.mob_menu .open_menu{
	margin: 0px auto -17px auto;
	display: block;
	width: 56px;
	height: 57px;
	padding-top: 13px;
	font-size: 19px;
	border-radius: 16px;
	background-color: black;
	color: #b19057;
}
.mob_menu .mmenu {
	background: black;
	padding-top: 5px;
	font-family: 'Open Sans Hebrew Condensed';
	height: 295px;
	border-radius: 16px;
}
.mob_menu .mmenu a {
	font-size: 25px;
	line-height: 45px;
	width: 100%;
	display: block;
	border-bottom: 1px #333 solid;
	text-shadow: 2px 2px 0px rgba(177, 144, 87, 0.5);
	letter-spacing: 0.5px;
}
.mob_menu .mmenu i { 
	color: white;
	margin-top: 2px;
	width: 50%;
	float: left;
}

/*tpa=httphttp://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif*/
@media (max-width: 1030px) {

	.events { 
		background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif") no-repeat center center !important; ;
		background-size:  100% auto!important;
	} 
	.contact { 
		background: url("http://ww3.sinaimg.cn/large/3eeb6705jw1f8zo9u0q09g20qo0hsnph.gif") no-repeat center top !important; 
		background-size:  100% auto!important;
	} 
/*
	.chef { 
		background: url("assets/gifs/GIF24s.gif") no-repeat center top !important;
		background-size:  100% auto!important;

	}
*/
	.team { 
		background: url("http://ww4.sinaimg.cn/large/3eeb6705jw1f8zo9v4so7g20qo0hsb2a.gif") no-repeat right bottom !important; ;
		background-size: 100% auto !important;
	}
	.home { 
		background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zoljpuowg20qo0hs4qq.gif") no-repeat center top !important; 
		background-size: 100% auto !important;
	}
	.about .img1 {
		background: url("assets/img1.jpg") no-repeat center bottom !important;
		background-size: auto 100% !important;
	}
	.about .img2 {
		background: url("assets/img2.jpg") no-repeat center bottom !important;
		background-size: auto 100% !important;
	}
}

@media (max-width: 600px) {
	.mob_menu { display: block; }
	.chef .net , .events .net , .team .net { background: url("assets/net_dark.png")/*tpa=http://assets/net_dark.png*/ repeat; }
	.about .img1 , .about .img2 { display: none !important; }
	.cl-effect-18 { display: none !important;}	
	.about .paragraph { width: 240px; }
	.about .info {width: 100%; height: 750px !important;}
	.logo img { width: 280px;}

	.events { 
		background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif")/*tpa=httphttp://ww1.sinaimg.cn/large/3eeb6705jw1f8zo9uok8hg20qo0hse83.gif*/ no-repeat center center !important; height: 630px !important;
		background-size: auto 150% !important;
	} 
	.contact { background: url("http://ww3.sinaimg.cn/large/3eeb6705jw1f8zo9u0q09g20qo0hsnph.gif")/*tpa=httphttp://ww3.sinaimg.cn/large/3eeb6705jw1f8zo9u0q09g20qo0hsnph.gif*/ no-repeat center top !important; } 
	.chef { 
/*		background: url("assets/gifs/GIF24s.gif") no-repeat center top !important;*/
        /*tpa=http://assets/gifs/GIF24s.gif*/
		height: 600px !important;

	}
	.team { 
		background: url("http://ww4.sinaimg.cn/large/3eeb6705jw1f8zo9v4so7g20qo0hsb2a.gif")/*tpa=httphttp://ww4.sinaimg.cn/large/3eeb6705jw1f8zo9v4so7g20qo0hsb2a.gif*/ no-repeat right bottom !important; height: 640px !important;
		background-size: auto 110% !important;
	}
	.home { 
		background: url("http://ww1.sinaimg.cn/large/3eeb6705jw1f8zoljpuowg20qo0hs4qq.gif")/*tpa=http://assets/gifs/font-stretch: .gif;*/ no-repeat center top !important; 
		background-size: auto 110% !important;
		height: 500px !important;
		background-size: auto 110% !important;
	}
	.logo { 
		margin-left: -140px !important;
		margin-top: -165px !important;
	 }
	.p100 { min-height: 0px;}
	.p33 { width: 100%; min-height: 0px; height: 100%;}

	/*.people li {
		width: 50% !important;
		padding: 8px 7px !important;
	}*/
	.eventim li  , .people li { width: 46% !important; background-size: 110% auto !important;}
	.eventim .subtext {
		font-size: 28px !important;
		margin-top: -51px !important;
		margin-left: -56px !important;
	}
	.footer{
		height: 780px;
		background: url("assets/footer.jpg")/*tpa=http://assets/footer.jpg*/ no-repeat top right;
		background-size: auto 110% !important;
	}
	.footer li { 
		width: 90%; 
		margin-top: 42px; 
		padding-bottom: 17px;
		border-bottom: 2px #000 solid;
	}
	.footer h2 { font-size: 37px; }
	.usandthem { width: 96% !important; font-size: 14px; margin-top: 10px !important; border-bottom: 0px !important;}
	.whiteline { display: none; }
	.txt {
		line-height: 24px  !important;
		font-size: 18px !important;
		text-shadow: 1px 2px 0px rgba(0, 0, 0, .7) !important; 
	}
	.gil {
		margin-top: 490px;
		height: 156px;
		background: url("assets/people/team_gil_small.jpg")/*tpa=http://assets/people/team_gil_small.jpg*/ no-repeat center center;
		background-size: 100% auto !important;
		min-height: 0px !important;
	}
	.gil-info {
		margin-top: -470px !important;
		width: 91%;
		direction: rtl;
		margin-left: 3%;
		line-height: 22px;
		margin-top: 20px;

	}
	.chefim { height: 810px; }
	.chef-holder {
		width: 300%;
		margin-left: -100%;
	}

	.chef-info1 , .chef-info2 { padding: 2% 2%; }
	
	.chef-info1 {
		width: 33%;
		float: left;
		padding-left: 4%;
		height: 810px;
	}
	.chef-info2 {
		width: 32%;
		float: right;
		padding-right: 4%;
		height: 810px;

	}
	.chef1 {
		width: 35%;
		height: 400px;
	}
	.chef1:hover , .chef2:hover { height: 400px; }
	.chef1:hover.chef1 .name , .chef2:hover.chef2 .name { bottom: 0px !important; }
	.chef2 {
		height: 400px;
		width: 35%;
		margin-left: -36%;
		margin-top: 405px;
	}
	.chef1 .close-chef{
		position: absolute;
		left: -100%;
		width: 30px;
		font-size: 20px;
		padding-top: 23px;
	}
	.chef2 .close-chef{
		position: absolute;
		right: -104%;
		top: -102%;
		width: 30px;
		font-size: 20px;
		padding-top: 23px;
	}
	.footer ul .sofo {
		width: 90%;
		margin-right: 5px;
		margin-top: 10px;
	}
	.footer ul .sofo img{ float: right; margin-right: 10px;}
	.footer ul .sofo br{ display: none;}
	.footer ul .sofo i { line-height: 51px; margin-right: 10px; }
}

/***<jscompress sourcefile="eng.css" />*/
body {
	direction: ltr !important;
	text-align: left !important;
}
html {

}
.cl-effect-18 a { 
 	font-size:17px;
 	text-transform: uppercase; 
}
.paragraph {
	direction: ltr !important;
	text-align: left;

}
.paragraph .txt {
	font-family: 'PT Sans Narrow';
	text-align: left;

}
.paragraph .subtext {
	font-size: 31px;
	font-family: 'PT Sans Narrow';
	text-align: left;
}
.about .paragraph {
	width: 240px;
}
.chef-info1, .chef-info2, .gil-info {
	direction: ltr;
	text-align: left;
}
.gil-info{
	direction: ltr !important;
	text-align: left;
}
h2 {
	font-family: 'PT Sans Narrow' !important;
}
.footer li {
	text-align: left;
	float: left;
	margin-right: 0px;
	margin-left: 2%;
}
.contact .subtext {

	font-size: 30px !important;
}
.footer .footer-contact i {
	float: left;
}
.eventim li {
	float: left;
}
.eventim .btn .subtext { font-family: 'PT Sans Narrow'; }
.mob_menu .mmenu a { font-family: 'PT Sans Narrow'; font-size: 20px;}
.chef1 img , .chef2 img { width: 100%; }
.chef-info1 , .chef-info2 { line-height: 21px; }
.footer h2 { text-transform: uppercase; font-size: 22px; }
.footer ul .sofo { margin-left: -60px !important; margin-right: 0px !important;}
.title { text-align: left; }
@media (max-width: 600px) {
		.about .info {width: 100%; height: 800px !important;}

}


/***<jscompress sourcefile="fontello.css" />*/
@font-face {
  font-family: 'fontello';
  src: url("css/fonts/fontello.eot");
  src: url("css/fonts/fontello.eot#iefix") format('embedded-opentype'),
       url("css/fonts/fontello.woff") format('woff'),
       url("css/fonts/fontello.ttf") format('truetype'),
       url("css/fonts/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'fontello';
  src: url('/css/fonts/fontello.eot?19791981');
  src: url('/css/fonts/fontello.eot?19791981#iefix') format('embedded-opentype'),
       url('/css/fonts/fontello.woff?19791981') format('woff'),
       url('/css/fonts/fontello.ttf?19791981') format('truetype'),
       url('/css/fonts/fontello.svg?19791981#fontello') format('svg');
=======
  src: url('fonts/fontello.eot?19791981');
  src: url('fonts/fontello.eot?19791981#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?19791981') format('woff'),
       url('fonts/fontello.ttf?19791981') format('truetype'),
       url('fonts/fontello.svg?19791981#fontello') format('svg');
>>>>>>> .r20
  font-weight: normal;
  font-style: normal;
}
*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19791981#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
/*.icon-facebook:before { content: '\e800'; }  '' */
/*.icon-instagram:before { content: '\e802'; }  '' */





/***<jscompress sourcefile="animation.css" />*/
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/***<jscompress sourcefile="lightbox.css" />*/
/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(img/close.png) url(img/loading.gif) url(img/prev.png) url(img/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;

}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;

}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(img/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  right: 0;
  float: right;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
   background: url(img/next.png) right 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  left: 0;
  float: left;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(img/prev.png) left 48% no-repeat;
 
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/***<jscompress sourcefile="default.css" />*/
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../lib/themes/default/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../lib/themes/default/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../lib/themes/default/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/***<jscompress sourcefile="light.css" />*/
/*
Skin Name: Nivo Slider Light Theme
Skin URI: http://nivo.dev7studios.com
Description: A light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-light.slider-wrapper {
    background: #fff;
    padding: 10px;
}
.theme-light .nivoSlider {
	position:relative;
	background:#fff url(../lib/themes/light/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    overflow: visible;
}
.theme-light .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-light .nivoSlider a {
	border:0;
	display:block;
}

.theme-light .nivo-controlNav {
	text-align: left;
	padding: 0;
	position: relative;
	z-index: 10;
}
.theme-light .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../lib/themes/light/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-light .nivo-controlNav a.active {
	background-position:0 100%;
}

.theme-light .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background: url(../lib/themes/light/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	top: auto;
	bottom: -36px;
	z-index: 11;
}
.theme-light .nivo-directionNav a:hover {
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.theme-light a.nivo-nextNav {
	background-position:160% 50%;
	right:0px;
}
.theme-light a.nivo-prevNav {
    background-position:-60% 50%;
    left: auto;
	right: 35px;
}

.theme-light .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-light .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-light .nivo-caption a:hover {
    color:#fff;
}

.theme-light .nivo-controlNav.nivo-thumbs-enabled {
	width: 80%;
}
.theme-light .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-light .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/***<jscompress sourcefile="dark.css" />*/
/*
Skin Name: Nivo Slider Dark Theme
Skin URI: http://nivo.dev7studios.com
Description: A dark skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-dark.slider-wrapper {
    background: #222;
    padding: 10px;
}
.theme-dark .nivoSlider {
	position:relative;
	background:#fff url(../lib/themes/dark/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    overflow: visible;
}
.theme-dark .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-dark .nivoSlider a {
	border:0;
	display:block;
}

.theme-dark .nivo-controlNav {
	text-align: left;
	padding: 0;
	position: relative;
	z-index: 10;
}
.theme-dark .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../lib/themes/dark/bullets.png) no-repeat 0 2px;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-dark .nivo-controlNav a.active {
	background-position:0 100%;
}

.theme-dark .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background: url(../lib/themes/dark/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	top: auto;
	bottom: -36px;
	z-index: 11;
}
.theme-dark .nivo-directionNav a:hover {
    background-color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.theme-dark a.nivo-nextNav {
	background-position:-16px 50%;
	right:0px;
}
.theme-dark a.nivo-prevNav {
    background-position:11px 50%;
    left: auto;
	right: 35px;
}

.theme-dark .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-dark .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-dark .nivo-caption a:hover {
    color:#fff;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
	width: 80%;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/***<jscompress sourcefile="bar.css" />*/
/*
Skin Name: Nivo Slider Bar Theme
Skin URI: http://nivo.dev7studios.com
Description: The bottom bar skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: false
*/

.theme-bar.slider-wrapper {
    position: relative;
    border: 1px solid #333;
    overflow: hidden;
}
.theme-bar .nivoSlider {
	position:relative;
	background:#fff url(../lib/themes/bar/loading.gif) no-repeat 50% 50%;
}
.theme-bar .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-bar .nivoSlider a {
	border:0;
	display:block;
}

.theme-bar .nivo-controlNav {
    position: absolute;
    left: 0;
    bottom: -41px;
    z-index: 10;
    width: 100%;
    height: 30px;
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid #333;
	background: #333;
    background: -moz-linear-gradient(top,  #565656 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #565656 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #565656 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #565656 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-bar:hover .nivo-controlNav {
    bottom: 0;
    opacity: 1;
}
.theme-bar .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../lib/themes/bar/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 5px 2px 0 2px;
}
.theme-bar .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-bar .nivo-directionNav a {
	display:block;
	border:0;
	color: #fff;
	text-transform: uppercase;
	top: auto;
	bottom: 10px;
	z-index: 11;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-bar a.nivo-nextNav { right: -50px; }
.theme-bar a.nivo-prevNav { left: -50px; }
.theme-bar:hover a.nivo-nextNav { 
    right: 15px; 
    opacity: 1;
}
.theme-bar:hover a.nivo-prevNav { 
    left: 15px; 
    opacity: 1;
}
.theme-bar .nivo-directionNav a:hover { color: #ddd; }

.theme-bar .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-bar:hover .nivo-caption {
    bottom: 41px;
}
.theme-bar .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-bar .nivo-caption a:hover {
    color:#fff;
}

.theme-bar .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-bar .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-bar .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/***<jscompress sourcefile="nivo-slider.css" />*/
/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8); /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/***<jscompress sourcefile="myfix.css" />*/
* {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}


/*fix-IE*/


/*
.p100 {
        -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
*/

.home #ewm_wx {
    background: url(img/ewm_wx_lx.png) no-repeat;
    width: 300px;
    height: 344px;
    position: fixed;
    right: 5%;
    z-index: 9999;
    top: -301px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.home #ewm_wx #wx_text {
    position: absolute;
    bottom: 15px;
    right: 47px;
}

.home #ewm_wx.plus {
    top: 0px;
}

.paragraph .txt {
    text-align: justify;
}

.contact .txt h2 {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
    font-size: 22px;
    text-align: justify;
}

.contact .subtext {
    font-size: 20px !important;
    color: white;
}

.contact .eng {
    font-size: 18px !important;
}

#Jdt_Dom {
    width: 60vw;
    margin: 40px auto 0;
    position: relative;
    overflow: hidden;
    /*    border: 1px solid blue;*/
    border-radius: 20px;
    border: 5px solid #eee;
}


/*

#myFocus {
    background-color: #101010;
    width: 100%;
    height: 100%;
}

#myFocus img {
    width: 100%;
    height: 100%;
}
*/

#Jdt_Dom>div {}

#Jdt_Dom #jdt_lf {
    position: absolute;
    padding-top: 30%;
    cursor: pointer;
    left: 10px;
    top: 0;
    z-index: 10;
}

#Jdt_Dom #jdt_rt {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 30%;
    cursor: pointer;
    z-index: 10;
}

#Jdt_Dom #jdt_img {
    /*    border: 1px solid red;*/
}

#Jdt_Dom #jdt_img ul {
    position: relative;
}

#Jdt_Dom #jdt_img li {
    display: inline-block;
}

#Jdt_Dom #jdt_img li img {}


/*

.chef1, .chef2 {
	display: none;
}
.zp_info {
    width: 100%;
    height: 100%;    
    border: 1px solid red;
    text-align: center;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.zp_info_job {
    padding: 20px;
    text-align: left;
}*/


.chefim .zpSlogenTitle {
    font-size: 40px;
    line-height: 40px;
    margin: 20px;
}

.chefim .zpSlogenText {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.chef1 .name {
	margin-right: 20px;
}
.chef2 .name {
    margin-left: 40px;
}

.fg {
    width: 100%;
    height: 100%;
    background: url(assets/net.png);
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

#map {
    width: 100%;
    height: 40%;
    color: black;
    text-align: left;
}

#storesWrap {
    height: 60%;
    overflow-x: hidden;
    position: relative;
}

#sto_lf {
    position: absolute;
    top: 65%;
    left: 10px;
    cursor: pointer;
    height: 40px !important;
    z-index: 999;
}
#sto_lf div {
    overflow: hidden;
    background: url(img/sprite.png) -0px -0px no-repeat;
    height: 45px;
    width: 32px;
}

#sto_rt {
    position: absolute;
    right: 0;
    top: 65%;
    cursor: pointer;
    height: 40px !important;
    z-index: 999;
}

#sto_rt div {
    height: 45px;
    width: 50px;
    overflow: hidden;
    background: url(img/sprite.png) -82px -0px no-repeat;
}

#storesWrap>div {
    height: 100%;
    float: left;
}

#storesWrap #stoAll {
    width: 100%;
    height: 90%;
    padding: 10px 2% 50px;
    overflow: hidden;
}

#storesWrap #stoAll .sto {
    text-align: left;
    width: 300px;
    float: left;
    margin: 18px;
    min-height: 130px;
}

#storesWrap #stoAll .sto h3 {
    padding-bottom: 10px;
}

#storesWrap #stoAll .sto h3.wyy:after {
    content: "即将开业";
    font-size: 12px;
    padding-left: 10px;
    color: #D9D593;
}

#storesWrap #stoAll .sto p {
    padding: 2px 0;
    font-size: 0.9em;
}

#storesWrap #stoAll .sto .sto_row {
    display: table-row;
}

#storesWrap #stoAll .sto .sto_row>div {
    display: table-cell;
    word-break: break-all;
}

#storesWrap #stoAll .sto .sto_ad {
    height: 40px;
}

#storesWrap #stoAll .sto .sto_ad,
#storesWrap #stoAll .sto .sto_ph {
    width: 60px;
}

#storesWrap #stoAll .sto .sto_ad_cont,
#storesWrap #stoAll .sto .sto_ph_cont {
    padding: 5px 0;
    line-height: 20px;
}








@font-face {
    font-family: 'icomoon';
    src: url('css/fonts/icomoon.woff') format('woff');
}

.icon-instagram:before {
    font-family: 'icomoon';
    content: "\ea9a";
}

.icon-facebook:before {
    font-family: 'icomoon';
    content: "\e96c";
    font-size: 0.7em;
}

.paragraph .txt a {
    color: #fff;
}



@media screen and (min-width: 1750px) and (max-width: 2000px) and (min-height: 600px) and (max-height: 950px){
    .title {
        padding-top: 20px;
    }
    .about .subtext {
        padding: 10px 0;
    }
}

@media screen and (min-width: 736px) {
    #map {
        display: block;
    }
    #sto_txt_more {
        display: none;
    }
    #st_more {
        display: none;
    }
    #storesWrap #mb_st {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .about .paragraph .title {
        padding-top: 15px;
    }
    .about .paragraph .subtext {
        padding: 10px 0;
    }
    .about .paragraph center {
        font-size: 25px;
        line-height: 30px;
    }
    .about .paragraph .txt {
        font-size: 16px;
        line-height: 20px;
    }
    .events .paragraph .subtext {
        padding: 10px 0;
    }
    .events .paragraph .txt,
    .team .paragraph .txt {
        padding: 10px 0;
        font-size: 16px;
        line-height: 22px;
    }
    #storesWrap {
        width: 100%;
    }
    #storesWrap #stoAll {
        width: 4400px;
    }
    #storesWrap #stoAll .sto {
        width: 350px;
    }
    .gil-info b {
        font-size: 17px;
    }
}

@media screen and (min-width: 736px) and (max-width: 1000px) {
    .about .paragraph {
        padding: 20px;
    }
    #storesWrap #stoAll {
        width: 2100px;
    }
    #storesWrap #stoAll .sto {
        width: 300px;
    }
}

@media screen and (max-width: 736px) {
    #storesWrap {
        height: 90%;
    }
    #map {
        display: none;
    }
    #sto_txt_more {
        padding: 40px;
        line-height: 20px;
    }
    #sto_txt_more h4 {
        padding-top: 10%;
        padding-bottom: 30px;
    }
    #sto_txt_more p {
        text-align: left;
        text-indent: 2em;
        line-height: 2em;
    }
    #sto_lf,
    #sto_rt {
        display: none!important;
    }
    #storesWrap {
        display: none;
    }
    #storesWrap #mb_st {
        display: block;
        height: 10%;
        line-height: 10%;
    }
    #st_more {
        color: white;
        font-size: 20px;
    }
    .home #ewm_wx {
        /*        right: 0;*/
    }
    .sofo {
        display: none!important;
    }
    .paragraph .txt {
        /*
        font-size: 12px!important;
        line-height: 20px!important;
*/
    }
    .about .info {
        min-height: 800px!important;
        height: auto!important;
    }
    .events {
        min-height: 630px!important;
        height: auto!important;
    }
    #Jdt_Dom {
        width: 90%;
        height: 60vw;
    }
    .contact .ewmBtm img {
        width: 150px!important;
    }
    
}







/*mobile*/
@media (max-width: 600px) {
    .events {
        background: url("assets/gifs/GIF8s.jpg") no-repeat center center !important;
    }
    .contact {
        background: url("assets/gifs/GIF1s.jpg") no-repeat center top !important;
    }
    .team {
        background: url("assets/gifs/GIF23s.jpg") no-repeat right bottom !important;

    }
    .home {
        background: url("assets/gifs/GIF25s.jpg") no-repeat center top !important;

    }
}

