body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32596 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1179px;
  height:623px;
  display:flex;
}
#u32596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32597 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1179px;
  height:623px;
  display:flex;
}
#u32597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:40px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u32598 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:1177px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u32598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u32598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u32599 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:10px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0.5;
}
#u32599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32600 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:119px;
  width:1127px;
  height:120px;
}
#u32601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u32601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u32602 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u32603 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u32604 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:0px;
  width:227px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u32605 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u32606 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:121px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u32607 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:102px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u32608 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:0px;
  width:174px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u32608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u32609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:41px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u32610 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:40px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u32611 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u32612 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:40px;
  width:227px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32612 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u32613 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:40px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u32614 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:40px;
  width:121px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u32615 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:40px;
  width:102px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u32615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u32616 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:40px;
  width:174px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u32617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:41px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:40px;
}
#u32618 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:80px;
  width:133px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u32619 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:80px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:40px;
}
#u32620 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:80px;
  width:227px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u32620 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u32621 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:80px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u32622 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:80px;
  width:121px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u32623 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:80px;
  width:102px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u32623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u32624 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:80px;
  width:174px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u32625 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:163px;
  width:86px;
  height:30px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u32625 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u32628 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u32628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u32629 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u32629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32630 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32631 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32632 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32633 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(27, 27, 27, 0.647058823529412);
  line-height:22px;
}
#u32634 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(27, 27, 27, 0.647058823529412);
  line-height:22px;
}
#u32634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32635 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:580px;
  width:28px;
  height:22px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32635 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32635_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u32636 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:577px;
  width:47px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u32636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32637 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:580px;
  width:14px;
  height:17px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32638 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u32639 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u32639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32640 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u32640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u32641 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:577px;
  width:82px;
  height:28px;
  display:flex;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u32641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u32643 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:577px;
  width:28px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u32643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u32644 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:586px;
  width:8px;
  height:11px;
  display:flex;
}
#u32644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u32645 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:586px;
  width:8px;
  height:11px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u32645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u32646 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:586px;
  width:7px;
  height:11px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u32646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32647 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:69px;
  width:56px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32648_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32648_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32648 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:64px;
  width:129px;
  height:28px;
  display:flex;
}
#u32648 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32648_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32648.focused {
}
#u32648_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32648.disabled {
}
.u32648_input_option {
}
#u32649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32649 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:69px;
  width:84px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32650 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:69px;
  width:14px;
  height:18px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
}
#u32652 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:163px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
}
#u32652 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u32652_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.996078431372549);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32653 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:64px;
  width:56px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32653 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32656 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:64px;
  width:159px;
  height:28px;
  display:flex;
}
#u32656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32656_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32656.selected {
}
#u32656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  padding:1px 0px 1px 14px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32657_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  padding:1px 0px 1px 14px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32657 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:65px;
  width:157px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32657 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 14px;
  box-sizing:border-box;
  width:100%;
}
#u32657_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32657.disabled {
}
#u32658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32660 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:64px;
  width:159px;
  height:28px;
  display:flex;
}
#u32660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32660_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32660.selected {
}
#u32660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  padding:1px 0px 1px 14px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32661_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  padding:1px 0px 1px 14px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32661 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:65px;
  width:157px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32661 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 14px;
  box-sizing:border-box;
  width:100%;
}
#u32661_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32661.disabled {
}
#u32662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u32662 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:202px;
  width:86px;
  height:30px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
#u32662 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 3px 12px;
  box-sizing:border-box;
  width:100%;
}
#u32662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
