@font-face {
    font-family: 'ssp';
    src: url('../font/ssp.woff2') format('woff');
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

* {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#main {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    ;
}

#main #me p {
    font-family: 'ssp', "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#nav a #wcPic {
    position: absolute;
    top: 60px;
    left: -0px;
    z-index: 99999;
    display: none;
    width: 200px;
    height: 200px;
    background: url(../../images/ewm.jpeg) no-repeat center;
    background-size: cover;
    color: red;
}


/*
#nav a #wechat:hover #wcPic {
      height: 200px;
}
*/

#nav a #wcPic:after {
    border: 0;
    content: "";
}

#comp h1 {
    margin-bottom: 60px;
}

#comp ul {
    background-color: #fff;
    opacity: 0.8;
}

#comp li {
    margin: 20px;
    list-style: circle;
}

#comp li p {
    margin-top: 10px;
    margin-bottom: 0;
}
#comp .compImg {
    margin-bottom: 20px;
}
#comp .compImg img {
    max-width: 100%;
}

#ggt {
    margin-top: 60px;
}
#ggt p {
    float: left;
}
#ggt img {
    width: 200px;
    height: 200px;
    float: right;
}
.banner {
    position: relative;
}
.banner>img {
   max-width: 100%;
}

.banner .slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}


#info img {
    width: 100%;
}

#work .row .cont {
    margin: 20px;
}

#work .row .cont {
    margin-top: 50px;
}

#work .row .cont h2 {
    margin-bottom: 40px;
}

#plus {
    padding: 20px;
    margin: 20px auto;
}

#plus>div {
    padding: 10px 0;
    width: 100%;
/*    border: 1px solid red;*/
    font-size: 16px;
    line-height: 25px;
    position: relative;
    box-sizing: content-box;
    width: 60%;
    margin: 0 auto;
}

#plus .pic {
    background-size: contain !important;
}

#plus .leftPic {
    display: inline-block;
    width: 50%;
vertical-align: middle;
   
    overflow: hidden;
}

#plus .leftPic img {
     border-radius: 50%;
        max-width: 150px;
    max-height: 100%;
}

#plus .rightText {
    vertical-align: middle;
    display: inline-block;;
    width: 48%;
    border-left: 2px solid rgb(123, 129, 116);
    padding: 5px 10px;
    margin-top: 10px;
}

#plus .rightText h3 {
    font-size: 18px;
}

#plus .rightText p {
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
}

#plus .topText {
    text-align: right;
}

#plus .topText h3 {
    border-bottom: 2px solid #7B8174;
    margin-bottom: 5px;
    font-size: 24px;
    padding: 5px;
}

#plus>div * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Segoe UI Symbol", Arial, sans-serif;
}

#plus .bg {
    height: 150px;
    background: url(./zpimg/bg.png) center center no-repeat;
    padding: 10px 0;
}

#plus #row1 {
    padding: 0px !important;
    margin-bottom: 10px;
    height: 25px;
    background: url(./zpimg/1.png) center center no-repeat;
}

#plus #row2 {
    padding: 10px;
    background-color: #F5EEE8;
    color: rgb(54, 50, 50);
}

#plus #row2 #row2Wrap {
    padding: 10px;
    border: 3px solid #fff;
}

#plus #row2 #row2Pic {
    margin: 20px 0;
    height: 300px;
    background: url(./zpimg/2.png) center center no-repeat;
}

#plus #row4 {
    padding: 10px;
    background: -webkit-linear-gradient(left, #F9D7E2 0%, #B1F8EA 100%);
    background: linear-gradient(to right, #F9D7E2 0%, #B1F8EA 100%);
}

#plus #row4Wrap {
    padding: 10px;
    background: -webkit-linear-gradient(right, #F9D7E2 0%, #B1F8EA 100%);
    background: linear-gradient(to left, #F9D7E2 0%, #B1F8EA 100%);
}

#plus #row4Wrap #row4Title {
    margin: 10px auto 20px;
    padding: 0.3em 0.8em;
    width: 185px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 1em;
    color: rgb(128, 128, 128);
}

#plus #row4Wrap #row4Pic {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#plus #row4Wrap #row4Pic img {
    max-width: 100%;
    max-height: 100%;
}

#plus #row4Wrap #row4Text {
    text-align: justify;
    color: rgb(128, 128, 128);
    font-size: 87.5%;
    line-height: 1.8;
    padding: 30px 20px;
    font-weight: 400;
}

#row7 {
    border-bottom: 1px solid #F96E57;
    margin: 10px 0;
    padding: 0 !important;
}
#row7 #row7Text {
    text-align: center;
}
#row7 #row7Text p{
    width:230px;
    margin: 0 auto;
    text-align: left;
    line-height: 2em;
    display: inline-block;
}

#row7 #row7Text #leftSj:before {
     content: "";
    display: inline-block;
    vertical-align: top;
    width: 0px;
    margin-top: 0.4em;
    border-left: 15px solid rgb(207, 190, 120);
    border-top: 15px solid rgb(207, 190, 120);
    border-right: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
     margin-left: -30px;
}


#row7 #row7Text #rightSj:after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0px;
    margin-bottom: 0.3em;
    border-right: 0.8em solid rgb(100, 180, 191);
    border-bottom: 0.8em solid rgb(100, 180, 191);
    border-left: 0.8em solid transparent !important;
    border-top: 0.8em solid transparent !important;
    position: absolute;
}

#row8 img {
    max-width: 50% !important;
    float: right;
    margin: 0 8% 10px 10px;
    max-width: 400px;
}

#row10 img {
    max-width: 60% !important;
    float: left;
    margin: 0 0 10px 10%;
    max-width: 600px;
    padding-right: 10px;
}

#row10 .topText {
    text-align: left;
}

#row11 img {
    max-width: 60% !important;
    float: right;
    margin: 0 0 10px 10px;
    max-width: 600px;
}
#row12 .rightText {
    top: 10%;
}
#row13 #row13Wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgb(204, 204, 204) 1px 1px 5px;
    padding-bottom: 20px;
}

#row13 #row13Wrap img {
    max-width: 100%;
    margin-bottom: 20px;
}

#row14 {
    padding: 0 !important;
}

#row14 img {
    max-width: 100%;
}

#row15 {
    padding-bottom: 30px !important;
}

#row15 * {
    color: #3E3E3E;
    font-weight: 400;
}

#row15 #lineCC {
    position: absolute;
    top: 0;
    right: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
}

#row15 #lineCC * {
    display: inline-block;
    width: 40px;
    font-size: 1.2em;
    text-align: center;
}

#row15 #lineCC .CC_line {
    height: 15px;
    width: 1px;
    background-color: #000;
    margin: 0 19px;
}

#row15 #lineCC .CC_text {
    border: 1px solid rgb(102, 102, 102);
    text-align: center;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    border-radius: 100%;
}

#row16 .title {
    font-size: 1.2em;
    text-align: right;
    color: #3E3E3E;
    font-weight: 400;
}

#contact img {
    width: 200px;
}

#contact #ww>div {
    float: left;
    margin-right: 50px;
}

#contact #ww>div p {
    margin-left: 70px;
}

#contact #ww>div a {
    color: #777777;
}

#footer {
    font-family: "微软雅黑";
}

@media screen and (min-width: 736px) {
    #work .row .cont {
        width: 60%;
    }
}

@media screen and (max-width: 736px) {
    #work .row .cont {
        width: 90%;
    }
    #plus>div {
        width: 95%;
    }
    #plus .topText {
        font-size: 12px;
        line-height: 1.5em;
    }
}