.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: "微软雅黑";
}

body {
    background-color: #F7ECE4;
}

#title {
    height: 15vw;
    line-height: 15vw;
    background-color: #fff;
}

#title h2 {
    padding-left: 5vw;
    font-size: 7vw;
}

#main {
    overflow: hidden;
}

.dp {
    margin: 5vw auto;
    padding-bottom: 50px;
    width: 50vw;
    background-color: #fff;
    position: relative;
}

.dp h2 {
    padding: 5vw 3vw 2vw ;
    color: #333;
    font-size: 7vw;
}
.dp h4 {
    padding: 2vw 4vw 0;
    font-size: 2vw;
}

.dp ul {
    padding: 0 3vw;
    list-style: none;
}

.dp li {
    padding: 0.7vw 20px;
    padding-right: 2vw;
    font-size: 3vw;
}

.dp ul li .name {
    float: left;
}

.dp ul li .pri {
    float: right;
}

#no1 {
    margin-left: 10vw;
}

#no1>img {
    position: absolute;
    top: 10vw;
    right: -45vw;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#no2 {
    margin-right: 10vw;
}

#no2>img {
    position: absolute;
    top: 15vw;
    left: -50vw;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

#no3 {
    margin-left: 10vw;
}

#no3>img {
    position: absolute;
    top: 15vw;
    right: -40vw;
}