.header
    .site-meta
        .site-title
            line-height: 36px


// fix mobile header to height
@media (max-width: 767px)
    header.header
        padding-top: 0px
        .site-meta
            position: relative
            top: 20px
        .site-nav
            .menu-item a
                font-size: 1em