* {
    margin: 0;
    padding: 0;
}


/*首页页面中部*/





.CssFont01{
    padding-bottom: 20px;
}

.Default_Middle {
    float: left;
    width: 100%;
    background-color: #101010;
    /*border:1px solid red;*/
    text-align: center;
     background: url(net_black.png);
}

.Middle01 {
    float: left;
    width: 100%;
    /*border:1px solid red;*/
    margin: 60px 0px 36px 0px;
}


.Middle01 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.Middle02 {
    float: left;
    width: 100%;
    /*border:1px solid red;*/
}

.Middle02_Main {
    width: 80%;
    overflow: auto;
    margin: 0 auto;
    /*border:1px solid red;*/
}

.Middle02_Container {
    float: left;
    width: 95%;
    margin: 30px 0px 0px 0px;
    /*border:1px solid red;*/
}

.Middle02_Container p.CssFont01 {
    font-family: Microsoft YaHei;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin: 5px 0px 0px 20px;
}

.Middle02_Container p.CssFont02 {
    font-family: Microsoft YaHei;
    font-size: 18px;
    color: #a0a6b2;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: left;
    margin: 5px 0px 0px 20px;
}

.Middle02_Container p.CssHr01 {
    height: 30px;
    line-height: 30px;
}

.Middle02_Container hr.Middle02_Crosses {
    border: 0;
    background-color: #e6e6e6;
    height: 1px;
    vertical-align: baseline;
}
.Middle02_Container h1 ,.Middle02_Container h2  {
    font-family: Microsoft YaHei;
    color: white;
}



@media screen and (max-width: 1023px) {
    .Middle02_Main {
        width: 100%;
    }
    .Middle02_Container p.CssFont02 {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 25px;
    }
}